@model CandyEditViewModel

@{
    ViewBag.Title = "Create Candy";
}
<div class="container-flow">
    <div asp-validation-summary="None"></div>
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <input type="hidden" asp-for="Discounts" />
        <input type="hidden" asp-for="CurrentCategory" />
        <input type="hidden" asp-for="CurrentDiscount" />
        <h2 style="text-align:center;">Add new Candy</h2>
        <div class="form-body">
            <div class="form-group">
                <label asp-for="Name" class="col-sm-2 control-label">Candy name</label>
                <div class="input-group col-sm-9">
                    <span class="input-group-addon"><i class="fa-solid fa-candy-cane"></i></span>
                    <input asp-for="Name" class="form-control" />                    
                </div>
                <span asp-validation-for="Name" class="text-danger col-sm-offset-2"></span>
              
            </div>  
            <div class="form-group">
                <label asp-for="CategoryId" class="col-sm-2 control-label">Category</label>
                <div class="input-group col-sm-9">
                    <span class="input-group-addon"><i class="fa-solid fa-list"></i></span>
                    <select asp-for="CategoryId" id="selectCategory" class="form-control" value="">
                        <option selected></option>
                        @await Component.InvokeAsync("CategoryOption")
                    </select>
                </div>
                <span asp-validation-for="CategoryId" class="text-danger col-sm-offset-2"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="col-sm-2 control-label">Description</label>
                <div class="input-group col-sm-9">
                    <span class="input-group-addon"><i class="fa-solid fa-glasses"></i></span>
                    <textarea asp-for="Description" class="form-control"></textarea>                   
                </div>               
            </div>

            <div class="form-group">
                <label asp-for="StockAmount" class="col-sm-2 control-label">Amount in stock</label>
                <div class="input-group col-sm-4">
                    <span class="input-group-addon"><i class="fa-solid fa-cubes-stacked"></i></span>
                    <input type="number" asp-for="StockAmount" class="form-control" />
                </div> 
                <span asp-validation-for="StockAmount" class="text-danger col-sm-offset-2"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="col-sm-2 control-label">Price</label>
                <div class="input-group col-sm-4">
                    <span class="input-group-addon"><i class="fa-solid fa-coins"></i></span>
                    <input type="number" asp-for="Price" class="form-control" />
                    <span class="input-group-addon">kr</span>
                </div>  
                <span asp-validation-for="Price" class="text-danger col-sm-offset-2"></span>
            </div>

            <div class="form-group">
                <label asp-for="DiscountId" class="col-sm-2 control-label">Discount</label>
                <div class="input-group col-sm-4">
                    <span class="input-group-addon"><i class="fa-solid fa-piggy-bank"></i></span>
                    <select asp-for="DiscountId" id="selectDiscount" class="form-control">
                        <option selected></option>
                        @await Component.InvokeAsync("DiscountOption")
                    </select>
                    <span class="input-group-addon">%</span>
                </div>
                <span asp-validation-for="DiscountId" class="text-danger col-sm-offset-2"></span>
            </div>

            <div class="form-group">
                <label asp-for="FileImage" class="col-sm-2 control-label">Image</label>
                <div class="input-group col-sm-9">
                    <span class="input-group-addon"><i class="fa-solid fa-image"></i></span>
                    <input asp-for="FileImage" class="form-control custom-file-input" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="FileImageThumbnail" class="col-sm-2 control-label">Thumbnail image</label>
                <div class="input-group col-sm-9">
                    <span class="input-group-addon"><i class="fa-solid fa-image"></i></span>
                    <input asp-for="FileImageThumbnail" class="form-control custom-file-input" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <div class="row">
                    <div class="row-input col-sm-offset-5">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-controller="Candy" asp-action="AdminList" class="btn btn-primary">Return</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


