@model Candy


<div class="img-thumbnail">
    <img src="@Model.ImageUrl" alt="@Model.Name" />

    <div class="figure-caption">
        <h3>@Model.Name</h3>
        <p>@Model.Description</p>

    </div>

</div>