@model Candy

@{
    var imagePath = @"/Images/" + (Model.ImageUrl ?? "noImageDjinn.png");
}

<div class="img-thumbnail">
    <img src="@imagePath" alt="@Model.Name" style="height: 500px; padding: 20px"/>

    <div class="figure-caption">
        <h3>@Model.Name</h3>
        <p>@Model.Description</p>

    </div>

</div>