@model CandyViewModel

<h1>Candy</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>Edit</h4>
        </div>
    </div>
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <input asp-for="CandyId" hidden />
        <div class="row row-input">
            <div class="input-group col-sm-5 pull-left" title="Candy name">
                <span class="input-group-addon"><i class="fa-solid fa-candy-cane"></i></span>
                <input id="Name" type="text" asp-for="Name" class="form-control" placeholder="Candy Name" />
            </div>
            <div class="input-group col-sm-5 pull-right" title="Price">
                <span class="input-group-addon"><i class="fa-solid fa-coins"></i></span>
                <input style="text-align:end;" Price" asp-for="Price" class="form-control" placeholder="Price" />
                <span class="input-group-addon">kr</span>
            </div>
        </div>
        <div class="row">
            <div class="input-group col-sm-5 pull-left" title="Category">
                <span class="input-group-addon"><i class="fa-solid fa-list"></i></span>
                <select asp-for="CategoryId" id="selectCategory" class="form-control">
                    <option selected></option>
                    @await Component.InvokeAsync("CategoryOption")
                </select>
            </div>
            
            <div class="input-group col-sm-5 pull-right" title="Amount in stock">
                <span class="input-group-addon"><i class="fa-solid fa-cubes-stacked"></i></span>
                <input style="text-align:end;" id="Stock" asp-for="StockAmount" class="form-control" placeholder="Amount in stock" />
                <span class="input-group-addon text-right">st</span>
            </div>
        </div>
        <div class="row">
            <div class="input-group col-sm-5 pull-left" title="ImageThumbnailUrl">
                <span class="input-group-addon"><i class="fa-solid fa-image"></i></span>
                <input type="file" asp-for="FileImageThumbnail" class="form-control" />
                <span asp-validation-for="ImageThumbnailUrl"></span>
            </div>

            <div class="input-group col-sm-5 pull-right" title="Is on sale">
                <span class="input-group-addon"><input class="form-check-input" type="checkbox" asp-for="IsOnSale" id="checkOnSale" /></span>
                <label class="form-control" asp-for="IsOnSale">On sale</label>
            </div>

        </div>
        <div class="row">

            <div class="input-group col-sm-5 pull-left" title="ImageUrl">
                <span class="input-group-addon"><i class="fa-solid fa-image"></i></span>
                <input type="file" asp-for="FileImage" class="form-control" />
                <span asp-validation-for="ImageUrl"></span>
            </div>
            
            
            <div class="input-group col-sm-5 pull-right" title="Description">
                <span class="input-group-addon"><i class="fa-solid fa-glasses"></i></span>
                <textarea id="Description" asp-for="Description" class="form-control" placeholder="Description"></textarea>
            </div>
        </div>
        <div class="row">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>            
        </div>
    </form>
</div>

