<h1>Fell free to contact us if u have any questions!</h1>

<br />

<h3>Email for general support: </h3>
<email adress="info@candy_sut21.com" link-text="Press here for general support"></email>



<h3>Email for support regarding a order: </h3>
<email adress="order@candy_sut21.com" link-text="Press here for support regarding a order"></email>
<br />
<br />

<h3>You can also visit us at the following adress:</h3>
<p>Candyland 12, 77490 CandyWorld</p>