@model IEnumerable<Category>

<li class="dropdown">
    <a class="dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown">Categories<b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach (var category in Model)
        {
            <li >
                <a asp-controller="Candy" asp-action="List" asp-route-category="@category.CategoryName">@category.CategoryName</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a asp-controller="Home" asp-action="OnSale" asp-route-category="">Candy on sale</a>
        </li>
    </ul>
</li>