<li class="dropdown">
    <a class="dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown">Admin menu<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            <a asp-controller="Candy" asp-action="AdminList">Manage products</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Discount">Manage Discounts</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Statistics">Sales Statistics</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="OrderManagement">Order History</a>
        </li>
    </ul>
</li>