<div class="row salesChart">
    <partial name="StatisticsPartials/_SaleAmountStatistics" />
    <partial name="StatisticsPartials/_ProductSalesShareStatistics" />
    <partial name="StatisticsPartials/_LowStockCandies" />
    <partial name="StatisticsPartials/_WeatherStatistics" />
</div>
