@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Prohibited area";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">The Djinn masters rules say you don't have access to this page, please return to where you are welcome!</p>
</header>
